<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/base :: common_header(~{::title})">
    <title>Home</title>
</head>

<body id="page-top" class="default-bg">
<!-- Navigation-->
<nav th:replace="layout/base :: common_nav()">
</nav>

<!-- Contact-->
<section class="page-section h-auto min-vh-100 d-flex align-items-center" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0 text-white">Edit StudySet</h2>
                <hr class="divider" />
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form id="contactForm" action="" th:action th:object="${form}" method="post" >

                    <!-- title address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="title" th:field="*{title}" type="text"
                               th:errorclass="field-error" placeholder="title" />
                        <label for="title">title</label>
                        <div class="field-error" th:errors="*{title}"></div>
                    </div>
                    <!-- description address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="description" th:field="*{description}" type="text"
                               th:errorclass="field-error" placeholder="description" />
                        <label for="description">description</label>
                        <div class="field-error" th:errors="*{description}"></div>
                    </div>

                    <hr class="divider" />

                    <div id="wordFormContainer">
                        <div class="row justify-content-center" th:each="vocaForm : *{vocaFormList}">
                            <div class="col-sm-11 row g-3 mb-3" >
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="word" th:name="|vocaFormList[${vocaFormStat.index}].word|" th:value="${vocaForm.word}" placeholder="word" aria-label="City">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="meaning" th:name="|vocaFormList[${vocaFormStat.index}].meaning|" th:value="${vocaForm.meaning}" placeholder="meaning" aria-label="State">
                                </div>
                            </div>
                            <div class="col-sm-1 row g-3 mb-3 justify-content-end">
                                <button id="delete-button" class="btn btn-danger btn-sm" type="button"> X </button>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-4">
                        <button id="add-button" class="w-25 btn btn-secondary btn-sm mt-3 pt-1 pb-1 fs-1" type="button">+</button>
                    </div>

                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-xl" type="submit">save</button></div>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- Footer-->
<footer th:replace="fragment/footer :: footer">
    푸터
</footer>

<th:block th:replace="fragment/script :: script"></th:block>
<script th:inline="javascript">
    const addButton = document.querySelector('#add-button');

    let index = [[${form.vocaFormList.size}]];

    addButton.addEventListener('click', () => {
        let wordFormContainer = document.querySelector('#wordFormContainer');
        let newText = document.createElement("div");
        newText.innerHTML = getWordFormHtml(++index);
        wordFormContainer.appendChild(newText);
    });

    function getWordFormHtml(i) {
        return `<div class="row justify-content-center">
                    <div class="col-sm-11 row g-3 mb-3" th:each="vocaForm : *{vocaFormList}" >
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="vocaFormList[${i}].word"  placeholder="word" aria-label="City">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="vocaFormList[${i}].meaning"  placeholder="meaning" aria-label="State">
                        </div>
                    </div>
                    <div class="col-sm-1 row g-3 mb-3 justify-content-end">
                        <button id="delete-button" class="btn btn-danger btn-sm" type="button"> X </button>
                    </div>
                </div>`;
    }

    document.addEventListener('click', function (e) {
        if (e.target && e.target.id == 'delete-button') {
            const div = e.target.parentElement.parentElement;
            div.remove();
        }
    });

</script>
</body>
</html>
