<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<head th:replace="layout/base :: common_header(~{::title})">
    <title>Home</title>
</head>
<Head th:replace="fragment/style :: style-card"></Head>

<!-- body -->
<body id="page-top" class="default-bg">

<!-- Navigation -->
<nav th:replace="layout/base :: common_nav()">
</nav>

<!-- Contact-->
<section class="page-section h-auto min-vh-100 d-flex align-items-center" id="signup">

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0 text-white">Study Sets</h2>
                <hr class="divider" />
            </div>
        </div>

        <!-- flip card carousel-->
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" th:each="voca : ${vocas}" th:classappend="${vocaStat.first}?'active':_" data-bs-interval="1000000">
                    <div class="d-flex justify-content-center">
                        <div class="scene scene--card">
                            <div class="card">
                                <h6 class="card__face__page card__face--front" th:text="|${vocaStat.count}/${vocas.size()}|">
                                    order/total
                                </h6>
                                <div class="card__face card__face--front">
                                    <span th:text="${voca.word}">
                                        meaning
                                    </span>
                                </div>
                                <h6 class="card__face__page card__face--back" th:text="|${vocaStat.count}/${vocas.size()}|">
                                    order/total
                                </h6>
                                <div class="card__face card__face--back">
                                    <span th:text="${voca.meaning}">
                                        meaning
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0 text-white">Terms In this set</h2>
                <hr class="divider" />
            </div>
        </div>

        <div class="container mb-5 bg-light rounded p-3">
            <div class="row mb-5">
                <div class="col">
                    <div class="row">
                        <div class="col fs-2 fw-bold" th:text="${studySet.title}">
                            title
                        </div>
                    </div>
                    <div class="row">
                        <div class="col fs-6" th:text="${studySet.description}">
                            description
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top pt-3">
                <div class="col">
                    <div class="row">
                        <div class="col opacity-50">
                            created by
                        </div>
                    </div>
                    <div class="row fs-3">
                        <div class="col" th:text="${studySet.member.name}">
                            username
                        </div>
                    </div>
                </div>
                <div class="col gap-3 d-flex align-items-center justify-content-end">
                    <button type="button" class="btn btn-primary">Modify</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>

        <div class="bg-light rounded p-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Word</th>
                        <th scope="col">Meaning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="voca : ${vocas}">
                        <th scope="row" th:text="${vocaStat.count}">1</th>
                        <td th:text="${voca.word}">Mark</td>
                        <td th:text="${voca.meaning}">Otto</td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
</section>



<!-- Footer-->
<footer th:replace="fragment/footer :: footer">
    푸터
</footer>

<!-- script -->
<th:block th:replace="fragment/script :: script"></th:block>

<script>
    var cards = document.querySelectorAll('.card');

    [...cards].forEach((card)=>{
        card.addEventListener( 'click', function() {
            card.classList.toggle('is-flipped');
        });
    });
</script>


</body>
</html>
