<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/base :: common_header(~{::title})">
    <title th:text="#{head.title}">Home</title>
</head>

<body id="page-top" class="default-bg">
<!-- Navigation-->
<nav th:replace="layout/base :: common_nav()">
</nav>

<section th:replace="layout/base :: errorContent(~{::h2}, ~{::form})">

    <h2 class="mt-0 text-white" th:text="#{error.title.badRequest}">Internal Server Error</h2>

    <form id="contactForm" action="/errorReport/add" method="post" >
        <input type="hidden" name="errorPath" th:value="${path}"/>
        <input type="hidden" name="status" th:value="${status}"/>
        <!-- Message input-->
        <div class="form-floating mb-3">
            <textarea class="form-control" id="message" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
            <label for="message">Message</label>
        </div>
        <!-- Submit Button-->
        <div class="d-grid"><button class="btn btn-primary btn-xl" type="submit" th:text="#{error.button.submit}">Send Report</button></div>
    </form>

</section>

<!-- Footer-->
<footer th:replace="fragment/footer :: footer">
    푸터
</footer>
<th:block th:replace="fragment/script :: script"></th:block>
</body>
</html>