<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/base :: common_header(~{::title})">
    <title th:text="#{head.title}">Home</title>
</head>

<body id="page-top" class="default-bg">
<!-- Navigation-->
<nav th:replace="layout/base :: common_nav()">
</nav>


<section th:replace="layout/base :: errorContent(~{::h2}, ~{::form})">

    <h2 class="mt-0 text-white" th:text="#{error.title.internalServer}">Internal Server Error</h2>

    <form id="contactForm" action="/errorReport/add" method="post" >
        <input type="hidden" name="errorPath" th:value="${path}"/>
        <input type="hidden" name="status" th:value="${status}"/>
        <!-- Message input-->
        <div class="form-floating mb-3">
            <textarea class="form-control" id="message" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
            <label for="message">Message</label>
        </div>
        <!-- Submit Button-->
        <div class="d-grid"><button class="btn btn-primary btn-xl" type="submit" th:text="#{error.button.submit}">Send Report</button></div>
    </form>

</section>

<!--&lt;!&ndash; Contact&ndash;&gt;-->
<!--<section class="page-section h-100 d-flex align-items-center" >-->
<!--    <div class="container px-4 px-lg-5 ">-->
<!--        <div class="row gx-4 gx-lg-5 justify-content-center">-->
<!--            <div class="col-lg-8 col-xl-6 text-center">-->
<!--                <h2 class="mt-0 text-white" th:text="#{error.title.internalServer}">Internal Server Error</h2>-->
<!--                <hr class="divider"/>-->
<!--            </div>-->
<!--            <div class="col-lg-8 align-self-baseline">-->
<!--                <p class="text-white-75 mb-5" th:text="#{error.message}">If you submit a report about the error, It helps us to provide better service.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">-->
<!--            <div class="col-lg-6">-->
<!--                <form id="contactForm" action="/errorReport/add" method="post" >-->

<!--                    <input type="hidden" name="errorPath" th:value="${path}"/>-->
<!--                    <input type="hidden" name="status" th:value="${status}"/>-->

<!--                    &lt;!&ndash; Message input&ndash;&gt;-->
<!--                    <div class="form-floating mb-3">-->
<!--                        <textarea class="form-control" id="message" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>-->
<!--                        <label for="message">Message</label>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Submit Button&ndash;&gt;-->
<!--                    <div class="d-grid"><button class="btn btn-primary btn-xl" type="submit" th:text="#{error.button.submit}">Send Report</button></div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!-- Footer-->
<footer th:replace="fragment/footer :: footer">
    푸터
</footer>
<th:block th:replace="fragment/script :: script"></th:block>
</body>
</html>






