<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/base :: common_header(~{::title})">
        <title>Home</title>
    </head>

    <body id="page-top" class="default-bg">
        <!-- Navigation-->
        <nav th:replace="layout/base :: common_nav()">
        </nav>

        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 th:unless="${member}" class="text-white font-weight-bold">Vocabulary training with VocaVoca</h1>
                        <h1 th:if="${member}" class="text-white font-weight-bold" th:text="|Hello ${member.name} !|">Hello</h1>
                        <h1 th:if="${member}" class="text-white font-weight-bold">Welcome To VocaVoca</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">We can help you memorize words with VocaVoca's training systems </p>
                        <a th:unless="${member}" class="btn btn-primary btn-xl" href="#signup" th:href="@{/login}" >Log In</a>
                        <a th:if="${member}" class="btn btn-primary btn-xl" href="#signup" th:href="@{/studySets}">go to training</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Footer-->
        <footer th:replace="fragment/footer :: footer">
            푸터
        </footer>
        <th:block th:replace="fragment/script :: script"></th:block>
    </body>
</html>
